/* NavBar */
.bg-light {
    background-color: $primary !important;
}
.logo{
    width: 30px;
}

/* Main */
main{
    background-color: #192d3b;
}

/* Card */
.card{
    padding:25px;
    background-color: $primary;
    color: $white;
}
.card-body{
    padding: 12px 0 0;

    .card-title{
        text-transform: uppercase;
        font-weight: bold;
    }

    p{
        margin-bottom: 0;
    }

    .card-descrption,
    .card-data{
        color: #808080;
    }
    
}
